@use '../helpers/' as *;
@use '../blocks/' as *;

.login-page {
    @include bg-pages;
    @include abs-center;
    @include flex(flex, center, center);
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include mobile-above {
        background: linear-gradient(180deg,
                rgba(217, 217, 217, 0.35) 0%,
                rgba(132, 132, 132, 0.5) 10%,
                rgba(71, 71, 71, 0.9) 35%,
                #2b2b2b 75%);
    }

    @include tablet-above {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-image: url(../images/bg-page.png),
            linear-gradient(180deg,
                rgba(217, 217, 217, 0.35) 0%,
                rgba(132, 132, 132, 0.5) 10%,
                rgba(71, 71, 71, 0.9) 35%,
                #2b2b2b 75%);
    }

    &__container {
        @include flex(flex, center, center);
        margin: auto;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        @include border-pack(2px, solid, var(--first-white-A75));
        position: absolute;
        opacity: 0;
        height: auto;
        visibility: hidden;
        pointer-events: none;
        border-radius: 14px;
        backdrop-filter: blur(50px);
        transition: opacity 0.4s ease-in, transform 0.4s ease-in;

        &.is-active {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }

        &.--auth {
            .button--primary {
                @include desktop-xl-above {
                    margin-top: rem(35);
                }
            }
        }

        @include mobile-above {
            @include border-pack(1px, solid, var(--first-white-A75));
            width: rem(310);
        }

        @include tablet-above {
            @include border-pack(1px, solid, var(--first-white-A75));
            width: rem(420);
        }

        @include laptop-above {
            width: rem(480);
        }

        @include desktop-xl-above {
            width: rem(550);
        }

        @include ultra-wide {
            width: rem(600);
        }
    }
}

.login-form {

    &__header,
    &.form {
        width: 100%;
        height: auto;
    }

    &__header {
        height: max-content
    }

    &__wrapper-logo {
        @include flex(flex, center, center);
        padding: rem(5) 0px rem(5) 0px;
        border-radius: 11px 11px 0px 0px;
        background-color: var(--first-white-A75);
    }

    &__logo {
        @include mobile-above {
            @include one-size(42px);
        }

        @include tablet-above {
            @include one-size(42px);
        }

        @include laptop-above {
            @include one-size(52px);
        }

        @include desktop-xl-above {
            @include one-size(62px);
        }

        @include ultra-wide {
            @include one-size(72px);
        }
    }

    &__title {
        display: inline-block;
        font-family: "Allerta";
        letter-spacing: rem(5);
        padding-left: rem(40);
        color: var(--first-black-A75);
        text-shadow: 0px 4px 4px var(--first-black-A15);

        @include mobile-above {
            letter-spacing: rem(3);
            padding-left: rem(20);
            font-size: var(--medium-font);
        }

        @include tablet-above {
            padding-left: rem(20);
            font-size: var(--medium-font);
        }

        @include laptop-above {
            font-size: var(--big-font);
        }

        @include desktop-xl-above {
            font-size: var(--accent-font);
        }

        @include ultra-wide {
            font-size: var(--accent-font)
        }
    }

    &__panel {
        @include flex(flex, space-around, center);
        padding: rem(10) 0px rem(10) 0px;
        height: auto;
        background-color: var(--second-DarkGrey-A50);
        border-bottom: 1px solid var(--second-white-A50);

        @include mobile-above {
            padding: rem(5);
        }

        .button {
            &--switch {
                width: max-content;
                height: max-content;
                padding: rem(5) rem(10) rem(5) rem(10);
                color: var(--first-white-A85);

                @include mobile-above {
                    padding: rem(5);
                    font-size: var(--xSmall-font);
                }

                @include desktop-xl-above {
                    font-size: var(--small-font);
                }

                @include ultra-wide {
                    padding: rem(7);
                    font-size: var(--default-font);
                }
            }
        }
    }

    &__form {
        padding: 0 rem(15) rem(15) rem(15);
        border-radius: 0 0 rem(13) rem(13);

        @include mobile-above {
            padding: rem(10);
        }

        @include tablet-above {
            padding: 0 rem(10) rem(10) rem(10);
        }

        .field {
            margin-top: rem(40);

            @include mobile-above {
                margin-top: rem(20);
            }

            @include tablet-above {
                margin-top: rem(30);
            }

            &__input {
                width: rem(420);
                height: rem(40);

                @include mobile-above {
                    width: rem(280);
                }

                @include tablet-above {
                    width: rem(380);
                }

                @include desktop-xl-above {
                    width: rem(460);
                }

                @include ultra-wide {
                    width: rem(520);
                    height: rem(50);
                    border-radius: rem(7);
                }

                &::placeholder {
                    opacity: 0;
                }

                &[type="number"] {
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }

            &__label {
                left: rem(10);
                letter-spacing: rem(2);
                font-size: var(--small-font);

                @include mobile-above {
                    left: rem(5);
                    letter-spacing: rem(1);
                    font-size: var(--xSmall-font);
                }

                @include desktop-xl-above {
                    font-size: var(--default-font);
                }

                @include ultra-wide {
                    font-size: var(--medium-font);
                }
            }
        }

        &__description {
            margin-top: rem(15);
            width: 100%;

            @include mobile-above {
                margin-top: rem(10);
            }

            p {
                @include flex (flex, center, center);
                text-align: center;
                font-size: var(--small-font);
                color: var(--first-white-A50);

                @include mobile-above {
                    font-size: var(--xSmall-font);
                }

                @include tablet-above {
                    font-size: var(--xSmall-font);
                }

                @include desktop-xl-above {
                    margin-top: rem(15);
                    font-size: var(--small-font);
                }

                @include ultra-wide {
                    margin-top: rem(15);
                    font-size: var(--default-font);
                }
            }
        }

        button {
            margin-top: rem(15);
            width: max-content;
            height: rem(40);
            padding: 0 rem(5) 0 rem(5);
            color: var(--first-white-A85);
            font-size: var(--default-font);

            @include mobile-above {
                margin-top: rem(10);
                font-size: var(--small-font);
            }

            @include tablet-above {
                margin-top: rem(5);
                font-size: var(--small-font);
            }

            @include laptop-above {
                font-size: var(--medium-font);
            }

            @include desktop-xl-above {
                margin-top: rem(20);
            }

            @include ultra-wide {
                margin-top: rem(20);
                padding: rem(10);
                font-size: var(--medium-font)
            }
        }
    }

    &__support {
        @include flex(flex, center, center);
        width: max-content;
        height: rem(55);
        margin-bottom: 0;

        &.button--action {
            width: max-content;
            height: max-content;
            padding: 10px;
            backdrop-filter: blur(100px);
            color: var(--first-white-A85);

            @include mobile-above {
                backdrop-filter: blur(0px);
                font-size: var(--xSmall-font);
            }

            @include tablet-above {
                backdrop-filter: blur(0px);
                font-size: var(--xSmall-font);
            }

            @include laptop-above {
                font-size: var(--small-font);
            }

            @include desktop-xl-above {
                font-size: var(--small-font);
            }

            @include ultra-wide {
                font-size: var(--medium-font);
                height: rem(50);
            }
        }
    }
}