*,
::before,
::after {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

figure,
blockquote {
  margin: 0;
}

hr {
  margin: 0;
  width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

@font-face {
  src: url("../fonts/Allerta-Regular.woff2") format("woff2");
  font-family: "Allerta";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --first-white-A100: rgba(255, 255, 255, 1.0);
  --first-white-A85: rgba(255, 255, 255, 0.85);
  --first-white-A75: rgba(255, 255, 255, 0.75);
  --first-white-A50: rgba(255, 255, 255, 0.50);
  --first-white-A35: rgba(255, 255, 255, 0.35);
  --second-white-A75: rgba(233, 236, 239, 0.75);
  --second-white-A50: rgba(233, 236, 239, 0.50);
  --third-white-A75: rgba(217, 217, 217, 0.75);
  --third-white-A50: rgba(217, 217, 217, 0.50);
  --third-white-A35: rgba(217, 217, 217, 0.35);
  --third-white-A15: rgba(217, 217, 217, 0.15);
  --first-black-A75: rgba(0, 0, 0, 0.75);
  --first-black-A50: rgba(0, 0, 0, 0.50);
  --first-black-A35: rgba(0, 0, 0, 0.35);
  --first-black-A15: rgba(0, 0, 0, 0.15);
  --first-DarkGrey-A75: rgba(54, 54, 54, 0.75);
  --first-DarkGrey-A50: rgba(54, 54, 54, 0.50);
  --second-DarkGrey-A50: rgba(43, 43, 43, 0.5);
  --first-LightGrey-A100: rgba(91, 91, 91, 1.0);
  --first-LightGrey-A50: rgba(91, 91, 91, 0.50);
  --second-LightGrey-A100: rgba(80, 80, 80, 1.0);
  --second-LightGrey-A65: rgba(80, 80, 80, 0.65);
  --third-LightGrey-A100: rgba(72, 72, 72, 1.0);
  --third-LightGrey-A50: rgba(72, 72, 72, 0.50);
  --first-redA100: rgba(255, 0, 0, 0.50);
  --first-green-A50: rgba(0, 255, 38, 0.50);
  --transition-time: 0.4s;
  --accent-font: 28px;
  --big-font: 22px;
  --medium-font: 20px;
  --default-font: 18px;
  --small-font: 16px;
  --xSmall-font: 14px;
}

body {
  font-family: "Roboto";
}

/*$desktop-xl: 1920;
$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-xs: 320.98;

@mixin desktop-xl-above {
    @media (width > rem($desktop-xl)) {
        @content;
    }
}

@mixin desktop-xl {
    @media (width <= rem($desktop-xl)) {
        @content;
    }
}

@mixin laptop-above {
    @media (width > rem($laptop)) {
        @content;
    }
}

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin tablet-above {
    @media (width > rem($tablet)) {
        @content;
    }
}

@mixin tablet {
    @media (width <= rem($tablet)) {
        @content;
    }
}

@mixin mobile-above {
    @media (width > rem($mobile)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

@mixin mobile-xs-above {
    @media (width > rem($mobile-xs)) {
        @content;
    }
}

@mixin mobile-xs {
    @media (width <= rem($mobile-xs)) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
} */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-time);
  background-color: transparent;
  letter-spacing: 2px;
  outline: 0;
}
@media (hover: hover) {
  button:hover {
    cursor: pointer;
    background-color: var(--third-white-A15);
  }
}
button:focus {
  background-color: var(--third-white-A15);
}

.button--primary {
  border: 1px, solid, var(--second-white-A75);
  background-color: var(--second-DarkGrey-A50);
  border-radius: 5px;
}
.button--switch {
  border: 1px, solid, var(--second-white-A75);
  border-radius: 5px;
}
.button--action {
  border: 1px, solid, var(--second-white-A75);
  background-color: var(--first-black-A35);
  border-radius: 5px;
}

.field {
  position: relative;
}
.field__input {
  border: 1px, solid, var(--second-white-A75);
  outline: 0;
  border-radius: 4px;
  letter-spacing: 2px;
  padding-left: 0.625rem;
  color: var(--first-white-A75);
  transition: all var(--transition-time);
  background-color: var(--third-LightGrey-A100);
}
@media (hover: hover) {
  .field__input:hover {
    cursor: pointer;
    background-color: var(--third-white-A15);
  }
  .field__input:focus {
    cursor: text;
    background-color: var(--third-white-A15);
  }
}
.field__label {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  color: var(--first-white-A35);
  pointer-events: none;
  transition: var(--transition-time);
}
.field:has(.field__input:not(:placeholder-shown)) .field__label {
  scale: 0.7;
  translate: -1.8em -2.8em;
  color: var(--first-white-A75);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  flex-direction: column;
  background-color: var(--first-DarkGrey-A75);
}

.login-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/bg-page.png), linear-gradient(135deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
  position: absolute;
  top: 49.9%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-page {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.35) 0%, rgba(132, 132, 132, 0.5) 10%, rgba(71, 71, 71, 0.9) 35%, #2b2b2b 75%);
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-page {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(../images/bg-page.png), linear-gradient(180deg, rgba(217, 217, 217, 0.35) 0%, rgba(132, 132, 132, 0.5) 10%, rgba(71, 71, 71, 0.9) 35%, #2b2b2b 75%);
  }
}
.login-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.login-page__wrapper {
  border: 2px, solid, var(--first-white-A75);
  position: absolute;
  opacity: 0;
  height: auto;
  visibility: hidden;
  pointer-events: none;
  border-radius: 14px;
  backdrop-filter: blur(50px);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}
.login-page__wrapper.is-active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-page__wrapper.--auth .button--primary {
    margin-top: 2.1875rem;
  }
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-page__wrapper {
    border: 1px, solid, var(--first-white-A75);
    width: 19.375rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-page__wrapper {
    border: 1px, solid, var(--first-white-A75);
    width: 26.25rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440.98px) {
  .login-page__wrapper {
    width: 30rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-page__wrapper {
    width: 34.375rem;
  }
}
@media (min-width: 1920.02px) {
  .login-page__wrapper {
    width: 37.5rem;
  }
}

.login-form__header, .login-form.form {
  width: 100%;
  height: auto;
}
.login-form__header {
  height: max-content;
}
.login-form__wrapper-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem 0px 0.3125rem 0px;
  border-radius: 11px 11px 0px 0px;
  background-color: var(--first-white-A75);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__logo {
    width: 42px;
    height: 42px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__logo {
    width: 42px;
    height: 42px;
  }
}
@media (min-width: 1024px) and (max-width: 1440.98px) {
  .login-form__logo {
    width: 52px;
    height: 52px;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__logo {
    width: 62px;
    height: 62px;
  }
}
@media (min-width: 1920.02px) {
  .login-form__logo {
    width: 72px;
    height: 72px;
  }
}
.login-form__title {
  display: inline-block;
  font-family: "Allerta";
  letter-spacing: 0.3125rem;
  padding-left: 2.5rem;
  color: var(--first-black-A75);
  text-shadow: 0px 4px 4px var(--first-black-A15);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__title {
    letter-spacing: 0.1875rem;
    padding-left: 1.25rem;
    font-size: var(--medium-font);
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__title {
    padding-left: 1.25rem;
    font-size: var(--medium-font);
  }
}
@media (min-width: 1024px) and (max-width: 1440.98px) {
  .login-form__title {
    font-size: var(--big-font);
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__title {
    font-size: var(--accent-font);
  }
}
@media (min-width: 1920.02px) {
  .login-form__title {
    font-size: var(--accent-font);
  }
}
.login-form__panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem 0px 0.625rem 0px;
  height: auto;
  background-color: var(--second-DarkGrey-A50);
  border-bottom: 1px solid var(--second-white-A50);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__panel {
    padding: 0.3125rem;
  }
}
.login-form__panel .button--switch {
  width: max-content;
  height: max-content;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  color: var(--first-white-A85);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__panel .button--switch {
    padding: 0.3125rem;
    font-size: var(--xSmall-font);
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__panel .button--switch {
    font-size: var(--small-font);
  }
}
@media (min-width: 1920.02px) {
  .login-form__panel .button--switch {
    padding: 0.4375rem;
    font-size: var(--default-font);
  }
}
.login-form__form {
  padding: 0 0.9375rem 0.9375rem 0.9375rem;
  border-radius: 0 0 0.8125rem 0.8125rem;
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__form {
    padding: 0.625rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__form {
    padding: 0 0.625rem 0.625rem 0.625rem;
  }
}
.login-form__form .field {
  margin-top: 2.5rem;
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__form .field {
    margin-top: 1.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__form .field {
    margin-top: 1.875rem;
  }
}
.login-form__form .field__input {
  width: 26.25rem;
  height: 2.5rem;
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__form .field__input {
    width: 17.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__form .field__input {
    width: 23.75rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__form .field__input {
    width: 28.75rem;
  }
}
@media (min-width: 1920.02px) {
  .login-form__form .field__input {
    width: 32.5rem;
    height: 3.125rem;
    border-radius: 0.4375rem;
  }
}
.login-form__form .field__input::placeholder {
  opacity: 0;
}
.login-form__form .field__input[type=number] {
  -moz-appearance: textfield;
}
.login-form__form .field__input[type=number]::-webkit-outer-spin-button, .login-form__form .field__input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-form__form .field__label {
  left: 0.625rem;
  letter-spacing: 0.125rem;
  font-size: var(--small-font);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__form .field__label {
    left: 0.3125rem;
    letter-spacing: 0.0625rem;
    font-size: var(--xSmall-font);
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__form .field__label {
    font-size: var(--default-font);
  }
}
@media (min-width: 1920.02px) {
  .login-form__form .field__label {
    font-size: var(--medium-font);
  }
}
.login-form__form__description {
  margin-top: 0.9375rem;
  width: 100%;
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__form__description {
    margin-top: 0.625rem;
  }
}
.login-form__form__description p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--small-font);
  color: var(--first-white-A50);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__form__description p {
    font-size: var(--xSmall-font);
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__form__description p {
    font-size: var(--xSmall-font);
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__form__description p {
    margin-top: 0.9375rem;
    font-size: var(--small-font);
  }
}
@media (min-width: 1920.02px) {
  .login-form__form__description p {
    margin-top: 0.9375rem;
    font-size: var(--default-font);
  }
}
.login-form__form button {
  margin-top: 0.9375rem;
  width: max-content;
  height: 2.5rem;
  padding: 0 0.3125rem 0 0.3125rem;
  color: var(--first-white-A85);
  font-size: var(--default-font);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__form button {
    margin-top: 0.625rem;
    font-size: var(--small-font);
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__form button {
    margin-top: 0.3125rem;
    font-size: var(--small-font);
  }
}
@media (min-width: 1024px) and (max-width: 1440.98px) {
  .login-form__form button {
    font-size: var(--medium-font);
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__form button {
    margin-top: 1.25rem;
  }
}
@media (min-width: 1920.02px) {
  .login-form__form button {
    margin-top: 1.25rem;
    padding: 0.625rem;
    font-size: var(--medium-font);
  }
}
.login-form__support {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 3.4375rem;
  margin-bottom: 0;
}
.login-form__support.button--action {
  width: max-content;
  height: max-content;
  padding: 10px;
  backdrop-filter: blur(100px);
  color: var(--first-white-A85);
}
@media (min-width: 321px) and (max-width: 767.98px) {
  .login-form__support.button--action {
    backdrop-filter: blur(0px);
    font-size: var(--xSmall-font);
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .login-form__support.button--action {
    backdrop-filter: blur(0px);
    font-size: var(--xSmall-font);
  }
}
@media (min-width: 1024px) and (max-width: 1440.98px) {
  .login-form__support.button--action {
    font-size: var(--small-font);
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .login-form__support.button--action {
    font-size: var(--small-font);
  }
}
@media (min-width: 1920.02px) {
  .login-form__support.button--action {
    font-size: var(--medium-font);
    height: 3.125rem;
  }
}

/*# sourceMappingURL=main.css.map */
