@use '../../helpers/' as *;

.form {
    @include flex(flex, center, center);
    width: max-content;
    height: max-content;
    gap: rem(40);
    flex-direction: column;
    background-color: var(--first-DarkGrey-A75);
}